html
{
	font-size: 10px;
	background-color: #700ADA;
	color: white;
	font-family: 'Playfair Display', serif;
	text-align: center;
}

body
{
	width: 1000px;
	margin: 0 auto;
	background-color: #000000;
	padding: 0 20px 20px 20px;
	border: 5px solid #60DADA;
}

h1
{
	margin: 0;
	padding: 20px 0; 
	font-size: 60px;   
	color: #60DADA;
	text-shadow: 3px 3px 1px #700ADA;
}

h2
{
	color: #60DADA;
	font-size: 32px;
}

h3
{
	color: #60DADA;
	font-size: 24px;
}

p, li
{
	margin: 0 auto;
	margin-top: 3px;
	margin-bottom: 3px;
	width: 450px;
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Roboto Slab', serif;
	text-align: left;
}
p[id="start"]
{
	text-align: center;
	color: green;
}
p[id="end"]
{
	text-align: center;
	color: red;
}

div[id="shuffleDiv"]
{
	margin: 0 auto;
	width: 500px;
	padding: 5px;
	border: 2px dotted #700ADA;
	text-align: center;
}
div[id="mazeDiv"]
{
	width: 500px;
	margin: 0 auto;
	padding: 5px;
	font-size: 16px;
	font-family: 'PT Mono', monospace;
	line-height: 0.75;
}

img[src]
{
	display: block;
	margin: 0 auto;
	padding: 5px;
}
img[src]:hover
{
	padding: 0px;
	border: 5px solid #60DADA;
}

a
{
	color: #700ADA;
}
a:hover
{
	color: #60DADA;
}

button
{
	color: #60DADA;
	margin: 5px;
	font-family: 'Roboto Slab', serif;
	background-color: black;
}
button:hover
{
	color: white;
	background-color: #700ADA;
}