html
{
	font-size: 10px;
	background-color: #9999FF;
	color: white;
	font-family: 'Roboto Slab', serif;
	text-align: center;
}

body
{
	width: 1000px;
	margin: 0 auto;
	background-color: black;
	padding: 0 20px 20px 20px;
	border: 5px solid white;
}

h1
{
	margin: 0;
	padding: 20px 0; 
	font-size: 60px;   
	color: #9999FF;
}

h2
{
	color: #9999FF;
	font-size: 32px;
}

h3
{
	color: #9999FF;
	font-size: 24px;
}

p, li
{
	margin: 0 auto;
	margin-top: 3px;
	margin-bottom: 3px;
	width: 450px;
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Roboto Slab', serif;
	text-align: left;
}
p[id="zeroError"]
{
	color: red;
	font-style: italic;
}
p[id="start"]
{
	text-align: center;
	color: green;
}
p[id="end"]
{
	text-align: center;
	color: red;
}

div[id="mazeDiv"]
{
	width: 500px;
	margin: 0 auto;
	padding: 5px;
	font-size: 16px;
	font-family: 'PT Mono', monospace;
	line-height: 0.75;
}

img[src]
{
	display: block;
	margin: 0 auto;
	padding: 0px;
	border: 5px solid #9999FF;
}

a
{
	color: #9999FF;
}
a:hover
{
	color: #9999FF;
}

button
{
	color: black;
	border: 1px solid black;
	border-radius: 6px;
	margin: 5px;
	font-family: 'Roboto Slab', serif;
	background-color: #9999FF;
	font-size: 16px;
}
button:hover
{
	color: #9999FF;
	border: 1px solid white;
	background-color: black;
}
button[id="mazeButton"]
{
	color: #9999FF;
	border: 2px solid white;
	border-radius: 12px;
	background-color: black;
	font-size: 32px;
	font-style: super bold;
}
button[id="mazeButton"]:hover
{
	color: black;
	border: 2px solid #9999FF;
	background-color: white;
}